/* body styling start here*/
html, body {
	background-color: #CCC;
	color: #4E4E4F;
	font-family:Arial,Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}

h1 { margin: 10px 0 ; color:#335583; font: bold 24px; }
h2 { margin: 6px 2px; color:#666666; font: bold 20px; }
h3 { margin:0px; color:#444444; font: bold 18px ; }
h4 { margin: 4px 4px; color:#335583; font: bold 16px; }
h5 { margin: 4px 4px; color:#666666; font: bold 13px; }
h6 { margin: 4px 4px; color:#444444; font: bold 12px; }

a:link {color:#3175b3; text-decoration: underline;}
a:visited {color:#3175b3; text-decoration: underline;}
a:hover {color:#3175b3; text-decoration: none;}
a:active {color:#3175b3; text-decoration: none;}
a.headline { font-size:14px; }

.menulinks a:link {color:#fff; text-decoration: none;}
.menulinks a:visited {color:#fff; text-decoration:  none;}
.menulinks a:hover {color:#fff; text-decoration: none;}
.menulinks a:active {color:#fff; text-decoration: none;}
.menulinks a.headline { font-size:14px; }

.mainouter{
	background-color: #fff;
	width: 930px; 
	margin:0 auto;
	padding:20px;
	min-height:610px;
}

.topheader{
	height:20px; background-color: #999; 
	 }
.headerbanner{
	padding:10px 0 10px 0; background-image: url(../images/Topbanner.jpg);
	height:80px;
	
}
.clear{
	clear:both;
}


.bannertext{
	font-size:25px;
	margin-top:0px; border-right: 25px;
	font-family:Arial,Helvetica, sans-serif; color:#FFFFFF;

}
.bannertag{
	font-size:14px;
	line-height: 28px;
	margin-top:0px; border-right: 25px;
	font-family:Arial,Helvetica, sans-serif; color:#FFFFFF;
}
.banner{
	float:left; margin-left:25px;
}

.menu{
	background-color: #764245;
	height:30px;
}

.menulinks{float:left; width:1000px; }

.menu ul {margin:0;padding-left:0px;list-style:none;}
.menu ul li {color:#fff;font-size:12px; float:left; padding: 8px 20px 7px;}
.menu ul li + li {
	border-left:1px solid #fff;
}
.menu ul li a:link{color:#fff;text-decoration:none;}
.menu ul li.select {color: #333;}
.select{background-color: #CCC; color: #333}
li.label { font-weight: bold;}

#maincontent{
	margin-top:15px;
}

#leftcolumn{
	width:930px; 
	float:left;
}

.title{
	font-size:20px;
	font-weight:bold;
	color: #382829;
	padding:8px 0 10px 0px;
}

.content_text{
	padding:5px 18px;
	color:#4E4E4F;
	line-height:16px;
	font-family: Arial, Helvetica, sans-serif;
}

.trust{
    margin: 14px 0 0 20px;
}

.footer{
	background-color: #fff;
	width: 930px; 
	margin:0 auto;
	border-top: 1px solid #999;
	padding:20px;
	font-size:11px;
}
.section {
	width: 430px;
}

.section1 {
	width: 600px;
}
	
ul.section-list {
	padding-left: 10px;
}
ul.section-list li {
	line-height: 18px;
	padding-bottom: 5px;
}
p {
	line-height: 18px;
}
